body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  overflow: hidden;
}

.game-header {
  height: 10vh;
  position: absolute;
  top: 0;
  width: 45vw;
  background-color: white;
  padding: 3vh;
}

.game-logo {
  height: 11vh;
  position: absolute;
  top: 1vh;
  left: 7vh;
}

.info-button {
  position: absolute;
  top: 4.5vh;
  left: 2.5vh;
  width: 3.5vh;
  height: 3.5vh;
  border-radius: 0.4vh;
  border: 2px solid rgba(128, 128, 128, 0);
  font-size: 2vh;
  color: rgb(97, 97, 97);
  background-color: rgba(0, 0, 0, 0.108);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.info-button:hover {
  background-color: #e1e1e1;
}

.info-button:active {
  background-color: #e1e1e1;
}

.article {
  cursor: pointer;
  background: white;
  position: absolute;
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0));
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  border-radius: 0.2vh;
}

.article:not(#article-0) {
  display: flex;
  flex-direction: column;
  padding: 0 0 1vh 3vh;
}

#article-0 {
  filter: none;
  height: 87vh !important;
  width: 45vw !important;

  position: absolute;
  bottom: 0;
  overflow-y: scroll;
  padding: 0 3vh 1vh;
}

.article-content {
  overflow-y: auto;
}

.article-content:not(#article-content-0) {
  padding-right: 3vh;
}

.article-header:not(#article-header-0) {
  margin-right: 3vh;
}

.highlight {
  animation: flashHighlight 1s ease-in-out forwards;
}

@keyframes flashHighlight {
  0% {
    background: white;
  }
  50% {
    background: rgb(255, 255, 224);
  }
  100% {
    background: white;
  }
}

.loading {
  height: auto !important;
}

.condensed {
  line-height: 2.6vh;
  color: #5a5a5a;
  height: auto !important;
  max-width: 1000px;
}

.article:not(#article-0):not(.highlight) {
  animation: fadeShadow 1s ease-in-out forwards;
}

@keyframes fadeShadow {
  from {
    border: 2px solid greenyellow;
  }
  to {
    border: 2px solid rgba(255, 255, 255, 0);
  }
}

.full {
  height: 80vh;
}

.current {
  filter: drop-shadow(2px 4px 6px black)
    drop-shadow(2px 4px 6px rgba(234, 255, 0, 0.45));
}

@font-face {
  font-family: "Linux Libertine";
  src: local("MyFont"), url(./LinLibertine_R.ttf) format("tff");
}

.article-header {
  top: 0;
  background-color: white;
  z-index: 1;
  font-family: "Linux Libertine", "Georgia", "Times", "Source Serif 4", serif;
  border-bottom: solid 0.5px #003366;
  font-size: max(25px, 3vh);
  padding-top: 1vh;
  line-height: max(30px, 3.5vh);
}

.article-header:not(.condensed-header) {
  padding-top: 4.5vh;
}

.expand-text {
  color: gray;
  padding-top: 0vh;
  padding-bottom: 0vh;
  font-size: 1.5vh;
  font-family: sans-serif;
}

.article-header:not(#article-header-0) {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  position: sticky;
}

#menu {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 39vh;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  pointer-events: none;
  z-index: 10000000;
}

#log {
  width: 35.3vh;
  height: 35vh;
  background-color: white;
  color: black;
  border: 1px solid black;

  padding: 2vh 2vh 0;
  font-family: "Helvetica";
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  overflow-y: scroll;
  pointer-events: all;
  backdrop-filter: blur(5px);
}

.log-article {
  color: #0645ad;
  pointer-events: all;
  text-decoration: none;
}

.log-entry {
  font-size: 1.6vh;
  padding-bottom: 1vh;
}

.red {
  color: rgb(255, 51, 51);
}

.purple {
  color: #551a8b;
}

.green {
  color: rgb(11, 200, 17);
}

.progress-container {
  width: 39.5vh;
  background: linear-gradient(to left, #f8f9fa, #f8f9fa 80%, #eeeeee00 100%);
  padding-top: 1vh;
}

.progress {
  height: 2vh;

  border: 1px solid black;
  border-bottom-width: 0;
  background-color: #ffffff;
}

.progress-inner {
  background-color: rgb(116, 255, 137);
  height: 100%;
}

.progress-text {
  text-align: right;
  padding-bottom: 0.5vh;
  margin-right: 1vh;
}

#knowledge-tween {
  position: absolute;
  color: green;
  right: 1vh;
  font-weight: bold;
  opacity: 0;
}

.negative {
  color: red;
}

.float-up {
  animation: float-up 1s 1 ease-out;
  -webkit-animation: float-up 1s 1 ease-out;
}

@keyframes float-up {
  0% {
    opacity: 1;
    bottom: 43vh;
  }
  10% {
    opacity: 1;
  }
  60% {
    bottom: 44vh;
  }
  80% {
    opacity: 1;
    bottom: 44vh;
  }
  100% {
    opacity: 0;
    bottom: 44vh;
  }
}

.shop {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  width: 30vh;
  margin-right: 1vh;
}

.shop-card {
  background-color: white;
  border: 1px solid black;
  margin-bottom: 2vh;
  padding: 1vh 2vh 1vh;
  text-align: right;
  font-size: 1.65vh;
  pointer-events: all;
  width: 30vh;
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0, 0.3));
}

.disabled {
  background-color: rgb(208, 208, 208);
  color: rgb(81, 81, 81);
  border: 1px solid rgb(151, 151, 151);
}

.shop-card:hover:not(.disabled) {
  background-color: rgb(248, 248, 248);
}

.shop-text {
  padding-bottom: 0.3vh;
}

.shop-card-title {
  font-weight: bold;
}

.quests {
  top: 0;
  position: absolute;
  text-align: right;
  padding-bottom: 2vh;
  width: 35vh;
  margin-right: 1vh;
  padding-top: 1vh;
}

.quest-text {
  padding-bottom: 0.3vh;
}

.quest-highlight {
  color: #0645ad;
  font-weight: bold;
}

.quest {
  background-color: rgb(255, 249, 218);
  border: 2px solid rgb(255, 201, 109);
  padding: 1vh 2vh;
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0, 0.3));
  margin-bottom: 2vh;
}

.hlist {
  display: none;
}

.sidebar {
  display: none;
}

.debug {
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  height: 20vw;
  background-color: rgba(0, 0, 0, 0.409);
  z-index: 10000000;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.debug-entry {
  width: 100%;
}

.info-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000000000;
  background-color: rgba(0, 0, 0, 0.2);
}

.info-div {
  width: 55vh;
  min-height: 8vh;
  background-color: #f8f9fa;
  border: 2px solid #a2a9b1;
  border-left: 1vh solid rgb(87, 87, 87);
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0, 0.5));
  line-height: 2.5vh;
  padding: 2vh;
}

.info-text {
  padding-bottom: 1.5vh;
}

.error-container {
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10000000;
}

.error-div {
  width: 45vh;
  height: 4vh;
  background-color: #f8f9fa;
  border: 2px solid #a2a9b1;
  border-left: 1vh solid red;
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0, 0.5));
  line-height: 3.5vh;
  padding: 2vh;
  opacity: 0;
}

.error-in {
  animation: show-error 0.2s forwards;
}

@keyframes show-error {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reset-button {
  background-color: #ff8383;
  border-radius: 0.4vh;
  border: 2px solid rgb(246, 106, 106);
  font-size: 1.7vh;
  padding: 0.5vh;
  color: black;
}

.reset-button:hover {
  background-color: #d46868;
}
